@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro.woff') format('woff'), url('../fonts/GothamPro/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Black';
	src: url('../fonts/GothamPro/GothamPro-Black.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?c8fnsh');
	src:  url('../fonts/icomoon/icomoon.eot?c8fnsh#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon/icomoon.ttf?c8fnsh') format('truetype'),
	  url('../fonts/icomoon/icomoon.woff?c8fnsh') format('woff'),
	  url('../fonts/icomoon/icomoon.svg?c8fnsh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-file:before {
	content: "\e900";
  }
  .icon-lk:before {
	content: "\e901";
	color: #fff;
  }
  .icon-search:before {
	content: "\e902";
	color: #f40000;
  }