html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
	display: block;
}

ol, ul {
	list-style: none;
}

b,
strong {
	font-weight: bolder;
	font-family: $gothamProBlack;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	border-style: none;
}

a {
	color: inherit;
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

::-ms-clear {
    display: none;
}

input {
	overflow: visible;
}

button {
    cursor: pointer;
    border: none;
	outline: none;
	overflow: visible;
}

button,
select {
  	text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  	-webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1175px;
		margin: 0 auto;
}